{{ file_managed_by_ansible }}

# Lock login-screen banner-message-enable setting
/org/gnome/login-screen/banner-message-enable

# Lock login-screen banner-message-text setting
/org/gnome/login-screen/banner-message-text
