{{ file_managed_by_ansible }}

## metadata for Audit benchmark
benchmark_version: {{ benchmark_version }}

# Set if genuine RHEL (subscription manager check) not for derivatives e.g. CentOS
# If run via script this is discovered and set
host_os_distribution: {{ ansible_facts['distribution'] | lower }}

#  timeout for each command to run where set - default = 10seconds/10000ms
timeout_ms: {{ audit_cmd_timeout }}

# Taken from LE rhel9-cis
suse16cis_section1: {{ suse16cis_section1 }}
suse16cis_section2: {{ suse16cis_section2 }}
suse16cis_section3: {{ suse16cis_section3 }}
suse16cis_section4: {{ suse16cis_section4 }}
suse16cis_section5: {{ suse16cis_section5 }}
suse16cis_section6: {{ suse16cis_section6 }}
suse16cis_section7: {{ suse16cis_section7 }}

suse16cis_level_1: {{ suse16cis_level_1 }}
suse16cis_level_2: {{ suse16cis_level_2 }}

# to enable rules that may have IO impact on a system e.g. full filesystem scans or CPU heavy
run_heavy_tests: true

#  True is BIOS based system else set to false
{% if suse16cis_legacy_boot is defined %}
suse16cis_legacy_boot: {{ suse16cis_legacy_boot }}
{% endif %}

suse16cis_set_boot_pass: {{ suse16cis_set_boot_pass }}

##
## Rule-specific switches
##
## Use the switches below to disable specific rules independently of the chosen profile
##

## Section 1 Fixes
# Section 1 is Initial setup (FileSystem Configuration, Configure Software Updates, Filesystem Integrity Checking, Secure Boot Settings,
# Additional Process Hardening, Mandatory Access Control, Command Line Warning Banners, and GNOME Display Manager)

# 1.1 Filesystems
# 1.1.1 Configure Filesystem Kernel Modules
suse16cis_rule_1_1_1_1: {{ suse16cis_rule_1_1_1_1 }}
suse16cis_rule_1_1_1_2: {{ suse16cis_rule_1_1_1_2 }}
suse16cis_rule_1_1_1_3: {{ suse16cis_rule_1_1_1_3 }}
suse16cis_rule_1_1_1_4: {{ suse16cis_rule_1_1_1_4 }}
suse16cis_rule_1_1_1_5: {{ suse16cis_rule_1_1_1_5 }}
suse16cis_rule_1_1_1_6: {{ suse16cis_rule_1_1_1_6 }}
suse16cis_rule_1_1_1_7: {{ suse16cis_rule_1_1_1_7 }}
suse16cis_rule_1_1_1_8: {{ suse16cis_rule_1_1_1_8 }}
suse16cis_rule_1_1_1_9: {{ suse16cis_rule_1_1_1_9 }}
suse16cis_rule_1_1_1_10: {{ suse16cis_rule_1_1_1_10 }}

# 1.1.2 Configure Filesystem Partitions
# /tmp
suse16cis_rule_1_1_2_1_1: {{ suse16cis_rule_1_1_2_1_1 }}
suse16cis_rule_1_1_2_1_2: {{ suse16cis_rule_1_1_2_1_2 }}
suse16cis_rule_1_1_2_1_3: {{ suse16cis_rule_1_1_2_1_3 }}
suse16cis_rule_1_1_2_1_4: {{ suse16cis_rule_1_1_2_1_4 }}

# /dev/shm
suse16cis_rule_1_1_2_2_1: {{ suse16cis_rule_1_1_2_2_1 }}
suse16cis_rule_1_1_2_2_2: {{ suse16cis_rule_1_1_2_2_2 }}
suse16cis_rule_1_1_2_2_3: {{ suse16cis_rule_1_1_2_2_3 }}
suse16cis_rule_1_1_2_2_4: {{ suse16cis_rule_1_1_2_2_4 }}

# /home
suse16cis_rule_1_1_2_3_1: {{ suse16cis_rule_1_1_2_3_1 }}
suse16cis_rule_1_1_2_3_2: {{ suse16cis_rule_1_1_2_3_2 }}
suse16cis_rule_1_1_2_3_3: {{ suse16cis_rule_1_1_2_3_3 }}

# /var
suse16cis_rule_1_1_2_4_1: {{ suse16cis_rule_1_1_2_4_1 }}
suse16cis_rule_1_1_2_4_2: {{ suse16cis_rule_1_1_2_4_2 }}
suse16cis_rule_1_1_2_4_3: {{ suse16cis_rule_1_1_2_4_3 }}

# /var/tmp
suse16cis_rule_1_1_2_5_1: {{ suse16cis_rule_1_1_2_5_1 }}
suse16cis_rule_1_1_2_5_2: {{ suse16cis_rule_1_1_2_5_2 }}
suse16cis_rule_1_1_2_5_3: {{ suse16cis_rule_1_1_2_5_3 }}
suse16cis_rule_1_1_2_5_4: {{ suse16cis_rule_1_1_2_5_4 }}

# /var/log
suse16cis_rule_1_1_2_6_1: {{ suse16cis_rule_1_1_2_6_1 }}
suse16cis_rule_1_1_2_6_2: {{ suse16cis_rule_1_1_2_6_2 }}
suse16cis_rule_1_1_2_6_3: {{ suse16cis_rule_1_1_2_6_3 }}
suse16cis_rule_1_1_2_6_4: {{ suse16cis_rule_1_1_2_6_4 }}

# /var/log/audit
suse16cis_rule_1_1_2_7_1: {{ suse16cis_rule_1_1_2_7_1 }}
suse16cis_rule_1_1_2_7_2: {{ suse16cis_rule_1_1_2_7_2 }}
suse16cis_rule_1_1_2_7_3: {{ suse16cis_rule_1_1_2_7_3 }}
suse16cis_rule_1_1_2_7_4: {{ suse16cis_rule_1_1_2_7_4 }}

# 1.2 Package mgmt
# 1.2.1 Configure Package repositories
suse16cis_rule_1_2_1_1: {{ suse16cis_rule_1_2_1_1 }}
suse16cis_rule_1_2_1_2: {{ suse16cis_rule_1_2_1_2 }}
suse16cis_rule_1_2_1_3: {{ suse16cis_rule_1_2_1_3 }}
suse16cis_rule_1_2_1_4: {{ suse16cis_rule_1_2_1_4 }}
suse16cis_rule_1_2_1_5: {{ suse16cis_rule_1_2_1_5 }}
# 1.2.2 Configure Package updates
suse16cis_rule_1_2_2_1: {{ suse16cis_rule_1_2_2_1 }}

# 1.3 Mandatory Access Control
## 1.3.1 Configure SELinux
suse16cis_rule_1_3_1_1: {{ suse16cis_rule_1_3_1_1 }}
suse16cis_rule_1_3_1_2: {{ suse16cis_rule_1_3_1_2 }}
suse16cis_rule_1_3_1_3: {{ suse16cis_rule_1_3_1_3 }}
suse16cis_rule_1_3_1_4: {{ suse16cis_rule_1_3_1_4 }}
suse16cis_rule_1_3_1_5: {{ suse16cis_rule_1_3_1_5 }}
suse16cis_rule_1_3_1_6: {{ suse16cis_rule_1_3_1_6 }}
suse16cis_rule_1_3_1_7: {{ suse16cis_rule_1_3_1_7 }}
suse16cis_rule_1_3_1_8: {{ suse16cis_rule_1_3_1_8 }}

# 1.4 Configure Bootloader
suse16cis_rule_1_4_1: {{ suse16cis_rule_1_4_1 }}
suse16cis_rule_1_4_2: {{ suse16cis_rule_1_4_2 }}

# 1.5 Configure additional Process Hardening
suse16cis_rule_1_5_1: {{ suse16cis_rule_1_5_1 }}
suse16cis_rule_1_5_2: {{ suse16cis_rule_1_5_2 }}
suse16cis_rule_1_5_3: {{ suse16cis_rule_1_5_3 }}
suse16cis_rule_1_5_4: {{ suse16cis_rule_1_5_4 }}
suse16cis_rule_1_5_5: {{ suse16cis_rule_1_5_5 }}
suse16cis_rule_1_5_6: {{ suse16cis_rule_1_5_6 }}
suse16cis_rule_1_5_7: {{ suse16cis_rule_1_5_7 }}
suse16cis_rule_1_5_8: {{ suse16cis_rule_1_5_8 }}
suse16cis_rule_1_5_9: {{ suse16cis_rule_1_5_9 }}
suse16cis_kernel_kptr_restrict: 1
suse16cis_kernel_yama_ptrace_scope: 1

# 1.6 Configure System Wide cryptopolicy
suse16cis_rule_1_6_1: {{ suse16cis_rule_1_6_1 }}
suse16cis_rule_1_6_2: {{ suse16cis_rule_1_6_2 }}
suse16cis_rule_1_6_3: {{ suse16cis_rule_1_6_3 }}
suse16cis_rule_1_6_4: {{ suse16cis_rule_1_6_4 }}
suse16cis_rule_1_6_5: {{ suse16cis_rule_1_6_5 }}
suse16cis_rule_1_6_6: {{ suse16cis_rule_1_6_6 }}
suse16cis_rule_1_6_7: {{ suse16cis_rule_1_6_7 }}

# 1.7 Configure Command Line Warning Banners
suse16cis_rule_1_7_1: {{ suse16cis_rule_1_7_1 }}
suse16cis_rule_1_7_2: {{ suse16cis_rule_1_7_2 }}
suse16cis_rule_1_7_3: {{ suse16cis_rule_1_7_3 }}
suse16cis_rule_1_7_4: {{ suse16cis_rule_1_7_4 }}
suse16cis_rule_1_7_5: {{ suse16cis_rule_1_7_5 }}
suse16cis_rule_1_7_6: {{ suse16cis_rule_1_7_6 }}
suse16cis_rule_1_7_7: {{ suse16cis_rule_1_7_7 }}
suse16cis_rule_1_7_8: {{ suse16cis_rule_1_7_8 }}
suse16cis_rule_1_7_9: {{ suse16cis_rule_1_7_9 }}

# 1.7 Configure GNOME Display Manager
suse16cis_rule_1_8_1: {{ suse16cis_rule_1_8_1 }}
suse16cis_rule_1_8_2: {{ suse16cis_rule_1_8_2 }}
suse16cis_rule_1_8_3: {{ suse16cis_rule_1_8_3 }}
suse16cis_rule_1_8_4: {{ suse16cis_rule_1_8_4 }}
suse16cis_rule_1_8_5: {{ suse16cis_rule_1_8_5 }}
suse16cis_rule_1_8_6: {{ suse16cis_rule_1_8_6 }}
suse16cis_rule_1_8_7: {{ suse16cis_rule_1_8_7 }}

## Section 2 Fixes
# Section 2 is Services (Special Purpose Services, and service clients)

# 2.1 Configure Server Services
suse16cis_rule_2_1_1: {{ suse16cis_rule_2_1_1 }}
suse16cis_rule_2_1_2: {{ suse16cis_rule_2_1_2 }}
suse16cis_rule_2_1_3: {{ suse16cis_rule_2_1_3 }}
suse16cis_rule_2_1_4: {{ suse16cis_rule_2_1_4 }}
suse16cis_rule_2_1_5: {{ suse16cis_rule_2_1_5 }}
suse16cis_rule_2_1_6: {{ suse16cis_rule_2_1_6 }}
suse16cis_rule_2_1_7: {{ suse16cis_rule_2_1_7 }}
suse16cis_rule_2_1_8: {{ suse16cis_rule_2_1_8 }}
suse16cis_rule_2_1_9: {{ suse16cis_rule_2_1_9 }}
suse16cis_rule_2_1_10: {{ suse16cis_rule_2_1_10 }}
suse16cis_rule_2_1_11: {{ suse16cis_rule_2_1_11 }}
suse16cis_rule_2_1_12: {{ suse16cis_rule_2_1_12 }}
suse16cis_rule_2_1_13: {{ suse16cis_rule_2_1_13 }}
suse16cis_rule_2_1_14: {{ suse16cis_rule_2_1_14 }}
suse16cis_rule_2_1_15: {{ suse16cis_rule_2_1_15 }}
suse16cis_rule_2_1_16: {{ suse16cis_rule_2_1_16 }}
suse16cis_rule_2_1_17: {{ suse16cis_rule_2_1_17 }}
suse16cis_rule_2_1_18: {{ suse16cis_rule_2_1_18 }}
suse16cis_rule_2_1_19: {{ suse16cis_rule_2_1_19 }}
suse16cis_rule_2_1_20: {{ suse16cis_rule_2_1_20 }}
suse16cis_rule_2_1_21: {{ suse16cis_rule_2_1_21 }}
suse16cis_rule_2_1_22: {{ suse16cis_rule_2_1_22 }}

# 2.2 Configure client services
suse16cis_rule_2_2_1: {{ suse16cis_rule_2_2_1 }}
suse16cis_rule_2_2_2: {{ suse16cis_rule_2_2_2 }}
suse16cis_rule_2_2_3: {{ suse16cis_rule_2_2_3 }}
suse16cis_rule_2_2_4: {{ suse16cis_rule_2_2_4 }}
suse16cis_rule_2_2_5: {{ suse16cis_rule_2_2_5 }}

# Ensure time synchronization is in use
suse16cis_rule_2_3_1_1: {{ suse16cis_rule_2_3_1_1 }}
suse16cis_rule_2_3_1_2: {{ suse16cis_rule_2_3_1_2 }}
# Configure systemd-timesyncd
# Configure Chrony

# 2.4 Job Schedulers
# 2.4.1 Configure Cron
suse16cis_rule_2_4_1_1: {{ suse16cis_rule_2_4_1_1 }}
suse16cis_rule_2_4_1_2: {{ suse16cis_rule_2_4_1_2 }}
suse16cis_rule_2_4_1_3: {{ suse16cis_rule_2_4_1_3 }}
suse16cis_rule_2_4_1_4: {{ suse16cis_rule_2_4_1_4 }}
suse16cis_rule_2_4_1_5: {{ suse16cis_rule_2_4_1_5 }}
suse16cis_rule_2_4_1_6: {{ suse16cis_rule_2_4_1_6 }}
suse16cis_rule_2_4_1_7: {{ suse16cis_rule_2_4_1_7 }}
suse16cis_rule_2_4_1_8: {{ suse16cis_rule_2_4_1_8 }}
suse16cis_rule_2_4_1_9: {{ suse16cis_rule_2_4_1_9 }}
# Configure At
suse16cis_rule_2_4_2_1: {{ suse16cis_rule_2_4_2_1 }}

# 2.4.3 Configure Systemd Timer Units
suse16cis_rule_2_4_3_1: {{ suse16cis_rule_2_4_3_1 }}
suse16cis_rule_2_4_3_2: {{ suse16cis_rule_2_4_3_2 }}
suse16cis_rule_2_4_3_3: {{ suse16cis_rule_2_4_3_3 }}
suse16cis_rule_2_4_3_4: {{ suse16cis_rule_2_4_3_4 }}

## Section 3 Network Configuration
# 3.1 Configure Network Devices
suse16cis_rule_3_1_1: {{ suse16cis_rule_3_1_1 }}
suse16cis_rule_3_1_2: {{ suse16cis_rule_3_1_2 }}
suse16cis_rule_3_1_3: {{ suse16cis_rule_3_1_3 }}

# 3.2 Configure Network Kernel Modules (Host Only)
suse16cis_rule_3_2_1: {{ suse16cis_rule_3_2_1 }}
suse16cis_rule_3_2_2: {{ suse16cis_rule_3_2_2 }}
suse16cis_rule_3_2_3: {{ suse16cis_rule_3_2_3 }}
suse16cis_rule_3_2_4: {{ suse16cis_rule_3_2_4 }}
suse16cis_rule_3_2_5: {{ suse16cis_rule_3_2_5 }}
suse16cis_rule_3_2_6: {{ suse16cis_rule_3_2_6 }}

# 3.3 Configure Network Kernel Parameters (Host and Router)
suse16cis_rule_3_3_1_1: {{ suse16cis_rule_3_3_1_1 }}
suse16cis_rule_3_3_1_2: {{ suse16cis_rule_3_3_1_2 }}
suse16cis_rule_3_3_1_3: {{ suse16cis_rule_3_3_1_3 }}
suse16cis_rule_3_3_1_4: {{ suse16cis_rule_3_3_1_4 }}
suse16cis_rule_3_3_1_5: {{ suse16cis_rule_3_3_1_5 }}
suse16cis_rule_3_3_1_6: {{ suse16cis_rule_3_3_1_6 }}
suse16cis_rule_3_3_1_7: {{ suse16cis_rule_3_3_1_7 }}
suse16cis_rule_3_3_1_8: {{ suse16cis_rule_3_3_1_8 }}
suse16cis_rule_3_3_1_9: {{ suse16cis_rule_3_3_1_9 }}
suse16cis_rule_3_3_1_10: {{ suse16cis_rule_3_3_1_10 }}
suse16cis_rule_3_3_1_11: {{ suse16cis_rule_3_3_1_11 }}
suse16cis_rule_3_3_1_12: {{ suse16cis_rule_3_3_1_12 }}
suse16cis_rule_3_3_1_13: {{ suse16cis_rule_3_3_1_13 }}
suse16cis_rule_3_3_1_14: {{ suse16cis_rule_3_3_1_14 }}
suse16cis_rule_3_3_1_15: {{ suse16cis_rule_3_3_1_15 }}
suse16cis_rule_3_3_1_16: {{ suse16cis_rule_3_3_1_16 }}
suse16cis_rule_3_3_1_17: {{ suse16cis_rule_3_3_1_17 }}
suse16cis_rule_3_3_1_18: {{ suse16cis_rule_3_3_1_18 }}
suse16cis_rule_3_3_1_19: {{ suse16cis_rule_3_3_1_19 }}

# 3.3.2 Configure IPv6 Network Kernel Parameters
suse16cis_rule_3_3_2_1: {{ suse16cis_rule_3_3_2_1 }}
suse16cis_rule_3_3_2_2: {{ suse16cis_rule_3_3_2_2 }}
suse16cis_rule_3_3_2_3: {{ suse16cis_rule_3_3_2_3 }}
suse16cis_rule_3_3_2_4: {{ suse16cis_rule_3_3_2_4 }}
suse16cis_rule_3_3_2_5: {{ suse16cis_rule_3_3_2_5 }}
suse16cis_rule_3_3_2_6: {{ suse16cis_rule_3_3_2_6 }}
suse16cis_rule_3_3_2_7: {{ suse16cis_rule_3_3_2_7 }}
suse16cis_rule_3_3_2_8: {{ suse16cis_rule_3_3_2_8 }}

## Section 4 Host Based Firewall

# 4.1 single firewall
suse16cis_rule_4_1_1: {{ suse16cis_rule_4_1_1 }}
suse16cis_rule_4_1_2: {{ suse16cis_rule_4_1_2 }}
suse16cis_rule_4_1_3: {{ suse16cis_rule_4_1_3 }}
suse16cis_rule_4_1_4: {{ suse16cis_rule_4_1_4 }}
suse16cis_rule_4_1_5: {{ suse16cis_rule_4_1_5 }}
suse16cis_rule_4_1_6: {{ suse16cis_rule_4_1_6 }}
suse16cis_rule_4_1_7: {{ suse16cis_rule_4_1_7 }}
suse16cis_rule_4_1_8: {{ suse16cis_rule_4_1_8 }}

# 4.2 Configure UncomplicatedFirewall

## Section 5 Access Control
# 5.1 Configure SSH Server
suse16cis_rule_5_1_1: {{ suse16cis_rule_5_1_1 }}
suse16cis_rule_5_1_2: {{ suse16cis_rule_5_1_2 }}
suse16cis_rule_5_1_3: {{ suse16cis_rule_5_1_3 }}
suse16cis_rule_5_1_4: {{ suse16cis_rule_5_1_4 }}
suse16cis_rule_5_1_5: {{ suse16cis_rule_5_1_5 }}
suse16cis_rule_5_1_6: {{ suse16cis_rule_5_1_6 }}
suse16cis_rule_5_1_7: {{ suse16cis_rule_5_1_7 }}
suse16cis_rule_5_1_8: {{ suse16cis_rule_5_1_8 }}
suse16cis_rule_5_1_9: {{ suse16cis_rule_5_1_9 }}
suse16cis_rule_5_1_10: {{ suse16cis_rule_5_1_10 }}
suse16cis_rule_5_1_11: {{ suse16cis_rule_5_1_11 }}
suse16cis_rule_5_1_12: {{ suse16cis_rule_5_1_12 }}
suse16cis_rule_5_1_13: {{ suse16cis_rule_5_1_13 }}
suse16cis_rule_5_1_14: {{ suse16cis_rule_5_1_14 }}
suse16cis_rule_5_1_15: {{ suse16cis_rule_5_1_15 }}
suse16cis_rule_5_1_16: {{ suse16cis_rule_5_1_16 }}
suse16cis_rule_5_1_17: {{ suse16cis_rule_5_1_17 }}
suse16cis_rule_5_1_18: {{ suse16cis_rule_5_1_18 }}
suse16cis_rule_5_1_19: {{ suse16cis_rule_5_1_19 }}
suse16cis_rule_5_1_20: {{ suse16cis_rule_5_1_20 }}
suse16cis_rule_5_1_21: {{ suse16cis_rule_5_1_21 }}
suse16cis_rule_5_1_22: {{ suse16cis_rule_5_1_22 }}
suse16cis_rule_5_1_23: {{ suse16cis_rule_5_1_23 }}
suse16cis_rule_5_1_24: {{ suse16cis_rule_5_1_24 }}

# 5.2 Configure privilege escalation
suse16cis_rule_5_2_1: {{ suse16cis_rule_5_2_1 }}
suse16cis_rule_5_2_2: {{ suse16cis_rule_5_2_2 }}
suse16cis_rule_5_2_3: {{ suse16cis_rule_5_2_3 }}
suse16cis_rule_5_2_4: {{ suse16cis_rule_5_2_4 }}
suse16cis_rule_5_2_5: {{ suse16cis_rule_5_2_5 }}
suse16cis_rule_5_2_6: {{ suse16cis_rule_5_2_6 }}
suse16cis_rule_5_2_7: {{ suse16cis_rule_5_2_7 }}

# 5.3.1 Configure PAM software packages
suse16cis_rule_5_3_1_1: {{ suse16cis_rule_5_3_1_1 }}

# 5.3.2.1 Configure pam_faillock module
suse16cis_rule_5_3_2_1_1: {{ suse16cis_rule_5_3_2_1_1 }}
suse16cis_rule_5_3_2_1_2: {{ suse16cis_rule_5_3_2_1_2 }}
suse16cis_rule_5_3_2_1_3: {{ suse16cis_rule_5_3_2_1_3 }}

# 5.3.2.2 Configure pam_quality module
suse16cis_rule_5_3_2_2_1: {{ suse16cis_rule_5_3_2_2_1 }}
suse16cis_rule_5_3_2_2_2: {{ suse16cis_rule_5_3_2_2_2 }}
suse16cis_rule_5_3_2_2_3: {{ suse16cis_rule_5_3_2_2_3 }}
suse16cis_rule_5_3_2_2_4: {{ suse16cis_rule_5_3_2_2_4 }}
suse16cis_rule_5_3_2_2_5: {{ suse16cis_rule_5_3_2_2_5 }}
suse16cis_rule_5_3_2_2_6: {{ suse16cis_rule_5_3_2_2_6 }}
suse16cis_rule_5_3_2_2_7: {{ suse16cis_rule_5_3_2_2_7 }}

# 5.3.2.3 Configure pam_history module
# This are added as part of 5.3.2.4 using jinja2 template
suse16cis_rule_5_3_2_3_1: {{ suse16cis_rule_5_3_2_3_1 }}
suse16cis_rule_5_3_2_3_2: {{ suse16cis_rule_5_3_2_3_2 }}
suse16cis_rule_5_3_2_3_3: {{ suse16cis_rule_5_3_2_3_3 }}

# 5.3.2.4 Configure pam_unix module
suse16cis_rule_5_3_2_4_1: {{ suse16cis_rule_5_3_2_4_1 }}
suse16cis_rule_5_3_2_4_2: {{ suse16cis_rule_5_3_2_4_2 }}
suse16cis_rule_5_3_2_4_3: {{ suse16cis_rule_5_3_2_4_3 }}
suse16cis_rule_5_3_2_4_4: {{ suse16cis_rule_5_3_2_4_4 }}

# 5.4 User Accounts and Environment
# 5.4.1 Configure shadow password suite parameters
suse16cis_rule_5_4_1_1: {{ suse16cis_rule_5_4_1_1 }}
suse16cis_rule_5_4_1_2: {{ suse16cis_rule_5_4_1_2 }}
suse16cis_rule_5_4_1_3: {{ suse16cis_rule_5_4_1_3 }}
suse16cis_rule_5_4_1_4: {{ suse16cis_rule_5_4_1_4 }}
suse16cis_rule_5_4_1_5: {{ suse16cis_rule_5_4_1_5 }}
suse16cis_rule_5_4_1_6: {{ suse16cis_rule_5_4_1_6 }}

# 5.4.2 Configure root and system accounts and environment
suse16cis_rule_5_4_2_1: {{ suse16cis_rule_5_4_2_1 }}
suse16cis_rule_5_4_2_2: {{ suse16cis_rule_5_4_2_2 }}
suse16cis_rule_5_4_2_3: {{ suse16cis_rule_5_4_2_3 }}
suse16cis_rule_5_4_2_4: {{ suse16cis_rule_5_4_2_4 }}
suse16cis_rule_5_4_2_5: {{ suse16cis_rule_5_4_2_5 }}
suse16cis_rule_5_4_2_6: {{ suse16cis_rule_5_4_2_6 }}
suse16cis_rule_5_4_2_7: {{ suse16cis_rule_5_4_2_7 }}
suse16cis_rule_5_4_2_8: {{ suse16cis_rule_5_4_2_8 }}

# 5.4.2 Configure user default environment
suse16cis_rule_5_4_3_1: {{ suse16cis_rule_5_4_3_1 }}
suse16cis_rule_5_4_3_2: {{ suse16cis_rule_5_4_3_2 }}
suse16cis_rule_5_4_3_3: {{ suse16cis_rule_5_4_3_3 }}
suse16cis_rule_5_4_3_4: {{ suse16cis_rule_5_4_3_4 }}

# Section 6 Logging and Auditing
## 6.1 Configure Logging

## 6.1.1 Configure journald
suse16cis_rule_6_1_1_1: {{ suse16cis_rule_6_1_1_1 }}
suse16cis_rule_6_1_1_2: {{ suse16cis_rule_6_1_1_2 }}
suse16cis_rule_6_1_1_3: {{ suse16cis_rule_6_1_1_3 }}
suse16cis_rule_6_1_1_4: {{ suse16cis_rule_6_1_1_4 }}
suse16cis_rule_6_1_1_5: {{ suse16cis_rule_6_1_1_5 }}
suse16cis_rule_6_1_1_6: {{ suse16cis_rule_6_1_1_6 }}
suse16cis_rule_6_1_1_7: {{ suse16cis_rule_6_1_1_7 }}

## 6.1.2 Configure rsyslog
suse16cis_rule_6_1_2_1: {{ suse16cis_rule_6_1_2_1 }}
suse16cis_rule_6_1_2_2: {{ suse16cis_rule_6_1_2_2 }}
suse16cis_rule_6_1_2_3: {{ suse16cis_rule_6_1_2_3 }}
suse16cis_rule_6_1_2_4: {{ suse16cis_rule_6_1_2_4 }}
suse16cis_rule_6_1_2_5: {{ suse16cis_rule_6_1_2_5 }}
suse16cis_rule_6_1_2_6: {{ suse16cis_rule_6_1_2_6 }}
suse16cis_rule_6_1_2_7: {{ suse16cis_rule_6_1_2_7 }}
suse16cis_rule_6_1_2_8: {{ suse16cis_rule_6_1_2_8 }}
suse16cis_rule_6_1_2_9: {{ suse16cis_rule_6_1_2_9 }}
suse16cis_rule_6_1_2_10: {{ suse16cis_rule_6_1_2_10 }}
suse16cis_rule_6_1_2_11: {{ suse16cis_rule_6_1_2_11 }}

## 6.1.3 Configure logfile access
suse16cis_rule_6_1_3_1: {{ suse16cis_rule_6_1_3_1 }}

## 6.2.1 Configure systemd-journald service
suse16cis_rule_6_2_1_1: {{ suse16cis_rule_6_2_1_1 }}
suse16cis_rule_6_2_1_2: {{ suse16cis_rule_6_2_1_2 }}
suse16cis_rule_6_2_1_3: {{ suse16cis_rule_6_2_1_3 }}
suse16cis_rule_6_2_1_4: {{ suse16cis_rule_6_2_1_4 }}

## 6.2.2.x Configure auditd
suse16cis_rule_6_2_2_1: {{ suse16cis_rule_6_2_2_1 }}
suse16cis_rule_6_2_2_2: {{ suse16cis_rule_6_2_2_2 }}
suse16cis_rule_6_2_2_3: {{ suse16cis_rule_6_2_2_3 }}
suse16cis_rule_6_2_2_4: {{ suse16cis_rule_6_2_2_4 }}

## 6.2.3 Configure auditd rules
suse16cis_rule_6_2_3_1: {{ suse16cis_rule_6_2_3_1 }}
suse16cis_rule_6_2_3_2: {{ suse16cis_rule_6_2_3_2 }}
suse16cis_rule_6_2_3_3: {{ suse16cis_rule_6_2_3_3 }}
suse16cis_rule_6_2_3_4: {{ suse16cis_rule_6_2_3_4 }}
suse16cis_rule_6_2_3_5: {{ suse16cis_rule_6_2_3_5 }}
suse16cis_rule_6_2_3_6: {{ suse16cis_rule_6_2_3_6 }}
suse16cis_rule_6_2_3_7: {{ suse16cis_rule_6_2_3_7 }}
suse16cis_rule_6_2_3_8: {{ suse16cis_rule_6_2_3_8 }}
suse16cis_rule_6_2_3_9: {{ suse16cis_rule_6_2_3_9 }}
suse16cis_rule_6_2_3_10: {{ suse16cis_rule_6_2_3_10 }}
suse16cis_rule_6_2_3_11: {{ suse16cis_rule_6_2_3_11 }}
suse16cis_rule_6_2_3_12: {{ suse16cis_rule_6_2_3_12 }}
suse16cis_rule_6_2_3_13: {{ suse16cis_rule_6_2_3_13 }}
suse16cis_rule_6_2_3_14: {{ suse16cis_rule_6_2_3_14 }}
suse16cis_rule_6_2_3_15: {{ suse16cis_rule_6_2_3_15 }}
suse16cis_rule_6_2_3_16: {{ suse16cis_rule_6_2_3_16 }}
suse16cis_rule_6_2_3_17: {{ suse16cis_rule_6_2_3_17 }}
suse16cis_rule_6_2_3_18: {{ suse16cis_rule_6_2_3_18 }}
suse16cis_rule_6_2_3_19: {{ suse16cis_rule_6_2_3_19 }}
suse16cis_rule_6_2_3_20: {{ suse16cis_rule_6_2_3_20 }}
suse16cis_rule_6_2_3_21: {{ suse16cis_rule_6_2_3_21 }}
suse16cis_rule_6_2_3_22: {{ suse16cis_rule_6_2_3_22 }}
suse16cis_rule_6_2_3_23: {{ suse16cis_rule_6_2_3_23 }}
suse16cis_rule_6_2_3_24: {{ suse16cis_rule_6_2_3_24 }}
suse16cis_rule_6_2_3_25: {{ suse16cis_rule_6_2_3_25 }}
suse16cis_rule_6_2_3_26: {{ suse16cis_rule_6_2_3_26 }}
suse16cis_rule_6_2_3_27: {{ suse16cis_rule_6_2_3_27 }}
suse16cis_rule_6_2_3_28: {{ suse16cis_rule_6_2_3_28 }}
suse16cis_rule_6_2_3_29: {{ suse16cis_rule_6_2_3_29 }}
suse16cis_rule_6_2_3_30: {{ suse16cis_rule_6_2_3_30 }}
suse16cis_rule_6_2_3_31: {{ suse16cis_rule_6_2_3_31 }}
suse16cis_rule_6_2_3_32: {{ suse16cis_rule_6_2_3_32 }}
suse16cis_rule_6_2_3_33: {{ suse16cis_rule_6_2_3_33 }}
suse16cis_rule_6_2_3_34: {{ suse16cis_rule_6_2_3_34 }}
suse16cis_rule_6_2_3_35: {{ suse16cis_rule_6_2_3_35 }}

## 6.2.4 Configure Logfiles
suse16cis_rule_6_2_4_1: {{ suse16cis_rule_6_2_4_1 }}
suse16cis_rule_6_2_4_2: {{ suse16cis_rule_6_2_4_2 }}
suse16cis_rule_6_2_4_3: {{ suse16cis_rule_6_2_4_3 }}
suse16cis_rule_6_2_4_4: {{ suse16cis_rule_6_2_4_4 }}
suse16cis_rule_6_2_4_5: {{ suse16cis_rule_6_2_4_5 }}
suse16cis_rule_6_2_4_6: {{ suse16cis_rule_6_2_4_6 }}
suse16cis_rule_6_2_4_7: {{ suse16cis_rule_6_2_4_7 }}
suse16cis_rule_6_2_4_8: {{ suse16cis_rule_6_2_4_8 }}
suse16cis_rule_6_2_4_9: {{ suse16cis_rule_6_2_4_9 }}
suse16cis_rule_6_2_4_10: {{ suse16cis_rule_6_2_4_10 }}

## 6.3 Configure System Integrity (AIDE)
suse16cis_rule_6_3_1: {{ suse16cis_rule_6_3_1 }}
suse16cis_rule_6_3_2: {{ suse16cis_rule_6_3_2 }}
suse16cis_aide_conf_file: {{ suse16cis_aide_conf_file }}
suse16cis_rule_6_3_3: {{ suse16cis_rule_6_3_3 }}

## Section 7
# 7.1 System File Permissions
suse16cis_rule_7_1_1: {{ suse16cis_rule_7_1_1 }}
suse16cis_rule_7_1_2: {{ suse16cis_rule_7_1_2 }}
suse16cis_rule_7_1_3: {{ suse16cis_rule_7_1_3 }}
suse16cis_rule_7_1_4: {{ suse16cis_rule_7_1_4 }}
suse16cis_rule_7_1_5: {{ suse16cis_rule_7_1_5 }}
suse16cis_rule_7_1_6: {{ suse16cis_rule_7_1_6 }}
suse16cis_rule_7_1_7: {{ suse16cis_rule_7_1_7 }}
suse16cis_rule_7_1_8: {{ suse16cis_rule_7_1_8 }}
suse16cis_rule_7_1_9: {{ suse16cis_rule_7_1_9 }}
suse16cis_rule_7_1_10: {{ suse16cis_rule_7_1_10 }}
suse16cis_rule_7_1_11: {{ suse16cis_rule_7_1_11 }}
suse16cis_rule_7_1_12: {{ suse16cis_rule_7_1_12 }}
suse16cis_rule_7_1_13: {{ suse16cis_rule_7_1_13 }}
# 7.2 Local User and Group Settings
suse16cis_rule_7_2_1: {{ suse16cis_rule_7_2_1 }}
suse16cis_rule_7_2_2: {{ suse16cis_rule_7_2_2 }}
suse16cis_rule_7_2_3: {{ suse16cis_rule_7_2_3 }}
suse16cis_rule_7_2_4: {{ suse16cis_rule_7_2_4 }}
suse16cis_rule_7_2_5: {{ suse16cis_rule_7_2_5 }}
suse16cis_rule_7_2_6: {{ suse16cis_rule_7_2_6 }}
suse16cis_rule_7_2_7: {{ suse16cis_rule_7_2_7 }}
suse16cis_rule_7_2_8: {{ suse16cis_rule_7_2_8 }}
suse16cis_rule_7_2_9: {{ suse16cis_rule_7_2_9 }}
suse16cis_rule_7_2_10: {{ suse16cis_rule_7_2_10 }}

############

# Section 1

# AIDE
suse16cis_config_aide: {{ suse16cis_config_aide }}

# Warning Banner Content (issue, issue.net, motd)
suse16cis_warning_banner: {{ suse16cis_warning_banner }}
# End Banner

# This variable disables the implementation of rules 1.3.1.3 and 1.3.1.4
# regarding enforcing profiles or putting them in complain mode
suse16cis_selinux_disable: {{ suse16cis_selinux_disable }}

# bootloader 1.4
suse16cis_grub_user: {{ suse16cis_grub_user }}
suse16cis_bootloader_password_hash: {{ suse16cis_bootloader_password_hash }}
# 1.8 Gnome Desktop
## Controls 1.8.x - Settings for GDM
# To set whether this is required
# If sett to true and finds gui installed below is will run CIS
# if set to false it will remove the gdm package and disable the service
# then skip al the controls in 1.8.x

## Graphical/Gnome interface installed
suse16cis_gui: {{ suse16cis_gui }}

# This variable specifies the GNOME configuration database file to which configurations are written.
# (See https://help.gnome.org/admin/system-admin-guide/stable/dconf-keyfiles.html.en)
# The default database is `local`.
suse16cis_dconf_db_name: {{ suse16cis_dconf_db_name }}
suse16cis_screensaver_idle_delay: {{ suse16cis_screensaver_idle_delay }}  # Set max value for idle-delay in seconds (between 1 and 900)
suse16cis_screensaver_lock_delay: {{ suse16cis_screensaver_lock_delay }}  # Set max value for lock-delay in seconds (between 0 and 5)

# Service configuration
# Options are
# true to leave installed if exists not changes take place
# false - this removes the package
# mask - if a dependency for product so cannot be removed
# Server Services
suse16cis_autofs_services: false
suse16cis_autofs_mask: {{ suse16cis_autofs_mask }}
suse16cis_avahi_server: {{ suse16cis_avahi_server }}
suse16cis_avahi_mask: {{ suse16cis_avahi_mask }}
suse16cis_dhcp_server: {{ suse16cis_dhcp_server }}
suse16cis_dhcp_mask: {{ suse16cis_dhcp_mask }}
suse16cis_dns_server: {{ suse16cis_dns_server }}
suse16cis_dns_mask: {{ suse16cis_dns_mask }}
suse16cis_dnsmasq_server: {{ suse16cis_dnsmasq_server }}
suse16cis_dnsmasq_mask: {{ suse16cis_dnsmasq_mask }}
suse16cis_ftp_server: {{ suse16cis_ftp_server }}
suse16cis_ftp_mask: {{ suse16cis_ftp_mask }}
suse16cis_ldap_server: {{ suse16cis_ldap_server }}
suse16cis_ldap_mask: {{ suse16cis_ldap_mask }}
suse16cis_message_server: {{ suse16cis_message_server }}  # This is for messaging dovecot and cyrus-imap
suse16cis_message_mask: {{ suse16cis_message_mask }}
suse16cis_nfs_server: {{ suse16cis_nfs_server }}
suse16cis_nfs_mask: {{ suse16cis_nfs_mask }}
suse16cis_nis_server: {{ suse16cis_nis_server }}  # set to mask if nis client required
suse16cis_nis_mask: {{ suse16cis_nis_mask }}
suse16cis_print_server: {{ suse16cis_print_server }}  # replaces cups
suse16cis_print_mask: {{ suse16cis_print_mask }}
suse16cis_rpc_server: {{ suse16cis_rpc_server }}
suse16cis_rpc_mask: {{ suse16cis_rpc_mask }}
suse16cis_rsync_server: {{ suse16cis_rsync_server }}
suse16cis_rsync_mask: {{ suse16cis_rsync_mask }}
suse16cis_samba_server: {{ suse16cis_samba_server }}
suse16cis_samba_mask: {{ suse16cis_samba_mask }}
suse16cis_snmp_server: {{ suse16cis_snmp_server }}
suse16cis_snmp_mask: {{ suse16cis_snmp_mask }}
suse16cis_telnet_server: {{ suse16cis_telnet_server }}
suse16cis_telnet_mask: {{ suse16cis_telnet_mask }}
suse16cis_tftp_server: {{ suse16cis_tftp_server }}
suse16cis_tftp_mask: {{ suse16cis_tftp_mask }}
suse16cis_squid_server: {{ suse16cis_squid_server }}
suse16cis_squid_mask: {{ suse16cis_squid_mask }}
suse16cis_apache2_server: {{ suse16cis_apache2_server }}
suse16cis_apache2_mask: {{ suse16cis_apache2_mask }}
suse16cis_nginx_server: {{ suse16cis_nginx_server }}
suse16cis_nginx_mask: {{ suse16cis_nginx_mask }}
suse16cis_xinetd_server: {{ suse16cis_xinetd_server }}
suse16cis_xinetd_mask: {{ suse16cis_xinetd_mask }}
suse16cis_xwindow_server: {{ suse16cis_xwindow_server }}  # will remove mask not an option
suse16cis_is_mail_server: {{ suse16cis_is_mail_server }}

# Client Services
suse16cis_nis_client_required: false  # Same package as NIS server
suse16cis_tftp_client: false
suse16cis_telnet_required: false
suse16cis_ldap_clients_required: false
suse16cis_ftp_client: false

## Control 2.3.1.1
# This variable choses the tool used for time synchronization
# The two options are `chrony`and `systemd-timesyncd`.
suse16cis_time_sync_tool: {{ suse16cis_time_sync_tool }}

suse16cis_time_pool_name: {{ suse16cis_time_pool_name }}
suse16cis_time_servers:
{% for name in suse16cis_time_servers %}
- {{ name }}
{% endfor %}

## System functionality configuration variables
##
## There are certain functionalities of a system
## that may require either to skip certain CIS rules
## or install certain packages.
## Set the respective variable to `true` in order to
## enable a certain functionality on the system

# This variable governs whether specific CIS rules
# concerned with acceptance and routing of packages
# are skipped.
suse16cis_is_router: {{ suse16cis_is_router }}

## IPv4 requirement toggle
# This variable governs whether ipv4 is enabled or disabled.
suse16cis_ipv4_required: {{ suse16cis_ipv4_required }}

## IPv6 requirement toggle
# This variable governs whether ipv6 is enabled or disabled.
suse16cis_ipv6_required: {{ suse16cis_ipv6_required }}

# Section 3

## Control 3.1.3 - Ensure bluetooth Services are not in use
# This control managed how the bluetooth service is managaed
# Options are
# true to leave installed if exists not changes take place
# false - this removes the package
# mask - if a dependency for product so cannot be removed
suse16cis_bluetooth_service: {{ suse16cis_bluetooth_service }}
suse16cis_bluetooth_mask: {{ suse16cis_bluetooth_mask }}

## Section 3.4
### Firewall
suse16cis_firewall: {{ suse16cis_firewall }}
suse16cis_firewall_package: {{ suse16cis_firewall_package }}
##### firewalld
suse16cis_default_zone: {{ suse16cis_default_zone }}

# Zone to be used by the loopback interface
suse16cis_loopback_zone: {{ suse16cis_loopback_zone }}

# Section 5
# This will allow use of drop in files when CIS adopts them.
suse16cis_sshd_config_file: {{ suse16cis_sshd_config_file }}

suse16cis_sshd_weak_ciphers:
  - 3des-cbc
  - aes128-cbc
  - aes192-cbc
  - aes256-cbc
  - chacha20-poly1305@openssh.com
suse16cis_sshd_weak_kex:
  - diffie-hellman-group1-sha1
  - diffie-hellman-group14-sha1
  - diffie-hellman-group-exchange-sha1
suse16cis_sshd_weak_macs:
  - hmac-md5,hmac-md5-96
  - hmac-ripemd160
  - hmac-sha1-96
  - umac-64@openssh.com
  - hmac-md5-etm@openssh.com
  - hmac-md5-96-etm@openssh.com
  - hmac-ripemd160-etm@openssh.com
  - hmac-sha1-96-etm@openssh.com
  - umac-64-etm@openssh.com

suse16cis_sshd_client_alive_interval: "{{ suse16cis_sshd_client_alive_interval }}"
# This variable sets the maximum number of unresponsive "keep-alive" messages
# that can be sent from the server to the client before the connection is considered
# inactive and thus, closed.
suse16cis_sshd_client_alive_count_max: "{{ suse16cis_sshd_client_alive_count_max }}"

## 5.1.7 Note the following to understand precedence and layout
# This variable, if specified, configures a list of USER name patterns, separated by spaces, to allow SSH
# access for users whose user name matches one of the patterns. This is done
# by setting the value of `AllowUsers` option in `/etc/ssh/sshd_config` file.
# If an USER@HOST format will be used, the specified user will be allowed only on that particular host.
# The allow/deny directives process order: DenyUsers, AllowUsers, DenyGroups, AllowGroups.
# For more info, see https://linux.die.net/man/5/sshd_config
suse16cis_sshd_allow_users: {{ suse16cis_sshd_allow_users }}
# (String) This variable, if specified, configures a list of GROUP name patterns, separated by spaces, to allow SSH access
# for users whose primary group or supplementary group list matches one of the patterns. This is done
# by setting the value of `AllowGroups` option in `/etc/ssh/sshd_config` file.
# The allow/deny directives process order: DenyUsers, AllowUsers, DenyGroups, AllowGroups.
# For more info, https://linux.die.net/man/5/sshd_config
suse16cis_sshd_allow_groups: {{ suse16cis_sshd_allow_groups }}
# This variable, if specified, configures a list of USER name patterns, separated by spaces, to prevent SSH access
# for users whose user name matches one of the patterns. This is done
# by setting the value of `DenyUsers` option in `/etc/ssh/sshd_config` file.
# If an USER@HOST format will be used, the specified user will be restricted only on that particular host.
# The allow/deny directives process order: DenyUsers, AllowUsers, DenyGroups, AllowGroups.
# For more info, see https://linux.die.net/man/5/sshd_config
suse16cis_sshd_deny_users: {{ suse16cis_sshd_deny_users }}
# This variable, if specified, configures a list of GROUP name patterns, separated by spaces, to prevent SSH access
# for users whose primary group or supplementary group list matches one of the patterns. This is done
# by setting the value of `DenyGroups` option in `/etc/ssh/sshd_config` file.
# The allow/deny directives process order: DenyUsers, AllowUsers, DenyGroups, AllowGroups.
# For more info, see https://linux.die.net/man/5/sshd_config
suse16cis_sshd_deny_groups: {{ suse16cis_sshd_deny_groups }}

# 5.2.4 users whose NOPASSWD sudo rules the role leaves in place
suse16cis_sudoers_exclude_nopasswd_list:
{% for name in suse16cis_sudoers_exclude_nopasswd_list %}
- {{ name }}
{% endfor %}

# 5.2.7
suse16cis_sugroup: {{ suse16cis_sugroup }}
suse16cis_sudolog_location: {{ suse16cis_sudolog_location }}

# 5.3.2.x.x - Pam Settings
# Ability to use pam-config tool to set pam settings
# NOTE: This changes as pwhistory.conf no longer valid Manual changes may need to be complete
suse16cis_use_pam_config: {{ suse16cis_use_pam_config }}

# 5.4.1.x login.defs password settings
suse16cis_pass_max_days: {{ suse16cis_pass_max_days }}
suse16cis_pass_min_days: {{ suse16cis_pass_min_days }}
suse16cis_pass_warn_age: {{ suse16cis_pass_warn_age }}

##
## Section 6 Control Variables
##
#
## Control 6.1.2
# Set how aide is scanned either cron or timer
suse16cis_aide_scan: {{ suse16cis_aide_scan }}

# These are the crontab settings for periodical checking of the filesystem's integrity using AIDE.
# The sub-settings of this variable provide the parameters required to configure
# the cron job on the target system.
# Cron is a time-based job scheduling program in Unix OS, which allows tasks to be scheduled
# and executed automatically at a certain point in time.

# This variable represents the user account under which the cron job for AIDE will run.
suse16cis_aide_cron_user: '{{ suse16cis_aide_cron_user }}'

# This variable represents the path to the AIDE crontab file.
suse16cis_aide_cron_file: '{{ suse16cis_aide_cron_file }}'

# This variable represents the actual command or script that the cron job
# will execute for running AIDE.
suse16cis_aide_cron_job: '{{ suse16cis_aide_cron_job }}'

# These variables define the schedule for the cron job
# This variable governs the minute of the time of day when the AIDE cronjob is run.
# It must be in the range `0-59`.
suse16cis_aide_cron_minute: '{{ suse16cis_aide_cron_minute }}'

# This variable governs the hour of the time of day when the AIDE cronjob is run.
# It must be in the range `0-23`.
suse16cis_aide_cron_hour: '{{ suse16cis_aide_cron_hour}}'

# This variable governs the day of the month when the AIDE cronjob is run.
# `*` signifies that the job is run on all days; furthermore, specific days
# can be given in the range `1-31`; several days can be concatenated with a comma.
# The specified day(s) can must be in the range  `1-31`.
suse16cis_aide_cron_day: '{{ suse16cis_aide_cron_day }}'

# This variable governs months when the AIDE cronjob is run.
# `*` signifies that the job is run in every month; furthermore, specific months
# can be given in the range `1-12`; several months can be concatenated with commas.
# The specified month(s) can must be in the range  `1-12`.
suse16cis_aide_cron_month: '{{ suse16cis_aide_cron_month }}'

# This variable governs the weekdays, when the AIDE cronjob is run.
# `*` signifies that the job is run on all weekdays; furthermore, specific weekdays
# can be given in the range `0-7` (both `0` and `7` represent Sunday); several weekdays
# can be concatenated with commas.
suse16cis_aide_cron_weekday: '{{ suse16cis_aide_cron_weekday }}'

# Section 4

## Preferred method of logging
## Whether rsyslog or journald preferred method for local logging

# This variable governs which logging service should be used, choosing between 'rsyslog'(CIS recommendation)
# or 'journald'(only one is implemented) will trigger the execution of the associated subsection, as the-best
# practices are written wholly independent of each other.
suse16cis_syslog: {{ suse16cis_syslog }}

## Control 6.2.1.3 - Ensure journald log rotation is configured per site policy
# Current variable configures the max amount of disk space the logs will use(thus, journal files
# will not grow without bounds)
# The variables below related to journald, please set these to your site specific values
# These variable specifies how much disk space the journal may use up at most
# Specify values in bytes or use K, M, G, T, P, E as units for the specified sizes.
# See https://www.freedesktop.org/software/systemd/man/journald.conf.html for more information.
suse16cis_journald_systemmaxuse: {{ suse16cis_journald_systemmaxuse }}

## Control 6.2.1.3 - Ensure journald log rotation is configured per site policy
# Current variable configures the amount of disk space to keep free for other uses.
suse16cis_journald_systemkeepfree: {{ suse16cis_journald_systemkeepfree }}

## Control 6.2.1.3 - Ensure journald log rotation is configured per site policy
# This variable configures how much disk space the journal may use up at most.
# Similar with 'suse16cis_journald_systemmaxuse', but related to runtime space.
suse16cis_journald_runtimemaxuse: {{ suse16cis_journald_runtimemaxuse }}

## Control 6.2.1.3 - Ensure journald log rotation is configured per site policy
# This variable configures the actual amount of disk space to keep free
# Similar with 'suse16cis_journald_systemkeepfree', but related to runtime space.
suse16cis_journald_runtimekeepfree: {{ suse16cis_journald_runtimekeepfree }}

## Control 6.2.1.3 - Ensure journald log rotation is configured per site policy
# Current variable governs the settings for log retention(how long the log files will be kept).
# Thus, it specifies the maximum time to store entries in a single journal
# file before rotating to the next one. Set to 0 to turn off this feature.
# The given values are interpreted as seconds, unless suffixed with the units
# `year`, `month`, `week`, `day`, `h` or `m` to override the default time unit of seconds.
# Values are Xm, Xh, Xday, Xweek, Xmonth, Xyear, for example 2week is two weeks
# ATTENTION: Uncomment the keyword below when values are set!
suse16cis_journald_maxfilesec: {{ suse16cis_journald_maxfilesec }}

## Set if host is a logserver
suse16cis_remote_log_server: {{ suse16cis_remote_log_server }}

## Control 6.2.3.6 - Ensure rsyslog is configured to send logs to a remote log host
# This variable configures the value of the 'target' parameter to be configured when enabling
# forwarding syslog messages to a remote log server, thus configuring the actual FQDN/IP address of the
# destination server. For this value to be reflected in the configuration, the variable which enables the
# automatic configuration of rsyslog forwarding must be enabled('suse16cis_remote_log_server: true').
suse16cis_remote_log_host: {{ suse16cis_remote_log_host }}

## Control 6.2.3.6 - Ensure rsyslog is configured to send logs to a remote log host
# This variable configures the value of the 'port' parameter to be configured when enabling
# forwarding syslog messages to a remote log server. The default value for this destination port is 514.
# For this value to be reflected in the configuration, the variable which enables the
# automatic configuration of rsyslog forwarding must be enabled('suse16cis_remote_log_server: true').
suse16cis_remote_log_port: {{ suse16cis_remote_log_port }}

## Control 6.2.3.6 - Ensure rsyslog is configured to send logs to a remote log host
# This variable configures the value("TCP"/"UDP") of the 'protocol' parameter to be configured when enabling
# forwarding syslog messages to a remote log server. The default value for the 'omfwd' plug-in is UDP.
# For this value to be reflected in the configuration, the variable which enables the
# automatic configuration of rsyslog forwarding must be enabled('suse16cis_remote_log_server: true').
suse16cis_remote_log_protocol: {{ suse16cis_remote_log_protocol }}

## Control 6.2.3.6 - Ensure rsyslog is configured to send logs to a remote log host
# This variable governs how often an action is retried(value is passed to 'action.resumeRetryCount' parameter) before
# it is considered to have failed(that roughly translates to discarded messages). The default value is 0, but
# when set to "-1"(eternal), this setting would prevent rsyslog from dropping messages when retrying to connect
# if server is not responding. For this value to be reflected in the configuration, the variable which enables the
# automatic configuration of rsyslog forwarding must be enabled('suse16cis_remote_log_server: true').
suse16cis_remote_log_retrycount: {{ suse16cis_remote_log_retrycount }}

## Control 6.2.3.6 - Ensure rsyslog is configured to send logs to a remote log host
# This variable configures the maximum number of messages that can be hold(value is passed to 'queue.size' parameter).
# For this value to be reflected in the configuration, the variable which enables the automatic configuration
# of rsyslog forwarding must be enabled('suse16cis_remote_log_server: true').
suse16cis_remote_log_queuesize: {{ suse16cis_remote_log_queuesize }}

## Control 6.2.2.1.2 - Ensure systemd-journal-remote is configured
# 'suse16cis_journal_upload_url' is the ip address to upload the journal entries to
#  URL value may specify either just the hostname or both the protocol and hostname. 'https' is the default. The port
#  number may be specified after a colon (":"), otherwise 19532 will be used by default.
suse16cis_journal_upload_url: '{{ suse16cis_journal_upload_url }}'

## The paths below have the default paths/files, but allow user to create custom paths/filenames
## Control 6.2.2.1.2 - Ensure systemd-journal-remote is configured
# The filename in which the correct configuration should be stored in /etc/systemd/journal-upload.conf.d/
suse16cis_journal_remote_upload_config_file: '{{ suse16cis_journal_remote_upload_config_file }}'

# This variable specifies the path to the private key file used by the remote journal
# server to authenticate itself to the client. This key is used alongside the server's
# public certificate to establish secure communication.
suse16cis_journal_upload_serverkeyfile: '{{ suse16cis_journal_upload_serverkeyfile }}'

## Control 6.2.2.1.2 - Ensure systemd-journal-remote is configured
# This variable specifies the path to the public certificate file of the remote journal
# server. This certificate is used to verify the authenticity of the remote server.
suse16cis_journal_servercertificatefile: '{{ suse16cis_journal_servercertificatefile }}'

## Control 6.2.2.1.2 - Ensure systemd-journal-remote is configured
# This variable specifies the path to a file containing one or more public certificates
# of certificate authorities (CAs) that the client trusts. These trusted certificates are used
# to validate the authenticity of the remote server's certificate.
suse16cis_journal_trustedcertificatefile: '{{ suse16cis_journal_trustedcertificatefile }}'

# ATTENTION: Uncomment the keyword below when values are set!

# Controls 6.2.2.x journald configuration files
# Best practice is to use configuration files rather than a default conf.
# This allows you to call the files as you have set them or change to match your site policy
# These can be found in /etc/systemd/journald.conf.d/
# 6.2.2.2
suse16cis_journald_forwardsyslog: '{{ suse16cis_journald_forwardsyslog }}'

# 6.2.2.3 and 6.2.2.4
suse16cis_journald_storage: '{{ suse16cis_journald_storage }}'
