{{ file_managed_by_ansible }}

[Upload]
URL={{ suse16cis_remote_log_server }}
ServerKeyFile={{ suse16cis_journal_upload_serverkeyfile }}
ServerCertificateFile={{ suse16cis_journal_servercertificatefile }}
TrustedCertificateFile={{ suse16cis_journal_trustedcertificatefile }}
