{{ file_managed_by_ansible }}
# This is a subpolicy to disable weak ciphers
# for the SSH protocol (libssh and OpenSSH)
# Carried out as part of CIS Benchmark rules combined 1.6.7 and 5.1.6
cipher@SSH ={% if suse16cis_rule_1_6_7 %} -CHACHA20-POLY1305{% endif %}{% if suse16cis_rule_5_1_6 %} -3DES-CBC -AES-128-CBC -AES-192-CBC -AES-256-CBC{% endif %}
